/* Type Selector */
body {
  color: chartreuse;
  background-color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* Class Selector */
.first {
  color: black;
}
.large {
  font-style: oblique;
}
/* ID selector */
#list {
  background-color: blueviolet;
}
/* Attribute Selector */
a[href="day3.html"] {
  color: black;
}
input[type="text"] {
  background-color: aquamarine;
}
/* Pseudo Selector */
.first:hover {
  color: white;
}
/* Universal Selector */
* {
  margin: 5%;
}
